{% extends 'base.html' %}

{% block title %}
    Student Details
{% endblock title %}
{% block content %}
    <h2>Student Detail Screen</h2>
    <p></p>
    <p>Student Name: <b style="font-size: x-large">{{ student }}</b></p>
    <p>Student ID: <b style="font-size: x-large">{{ student.s_id }}</b></p>
    <p> Student Pic: </p>
{#	Basic validation in templates #}
	{% if student.s_pic %}
	<img src="{{ student.s_pic.url }}">
	{% else %}
	<i> No picture uploaded. </i>
	{% endif %}
{% endblock content %}
