{% extends 'base.html' %}

{% block title %} Add Student {% endblock title %}
{#<!doctype html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Student details</title>#}
{#</head>#}
{#<body>#}
{% block content %}
    <h2>Student Add Screen</h2>
    <br><br><br>
	<form method="POST" enctype="multipart/form-data">
		<!-- Add this here -->
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit"> Save </button>
	</form>
{% endblock content %}
{#</body>#}
{#</html>#}
